.idea/
api/node_modules/
api/.env
api/public/images/additional-services/*
api/public/images/banners/*
api/public/images/products/*
api/public/images/lookbook/*
api/public/images/lookbook-categories/*
api/public/images/print-category/*
api/public/images/print-images/*
api/public/images/print-products/*
api/logs/*
.vscode/
.eslintcache

old/

# dependencies
client/node_modules/
# production
client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*