.list-additional-services {
    .item-additional-service {
        display: grid;
        grid-template-columns: 1fr 105px 40px;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 1rem;

        .title {
            font-size: @font-size-lg;
            font-weight: bold;
        }
    }
}

.additional-service-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span:first-child {
        font-size: @font-size-lg;
    }

    .price {
        color: @text-color-secondary;
    }
}