.container {
    display: inline-block;
    //overflow-x: auto;
    //height: calc(100vh - calc(60px + 2.5rem));
}

.columns {
    display: flex;
}

.columns .column-create {
    width: 300px;
    margin-left: 8px;
    margin-right: 16px;

    button {
        margin-bottom: 1rem;
    }
}

.columns .column {
    background: @layout-body-background;
    width: 300px;
    border-radius: @border-radius-base;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.columns .column:not(:first-child) {
    margin-left: 8px;
}

.columns .column:not(:last-child) {
    margin-right: 8px;
}

.columns .column .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 0;
    //border-bottom: 1px solid @border-color-base;
    //box-shadow: rgba(0, 0, 0, 0.05) 0 2px 15px 0;
}

.columns .column .title .loading {
    color: @text-color-secondary;
}

.columns .column .title .actions {
    color: @text-color-secondary;
    cursor: pointer;
}

.columns .column .title .actions:hover {
    color: @primary-color;
}

.columns .column .tasks {
    padding: 0 8px 8px 8px;
    transition: background-color 0.2s ease;
    flex-grow: 1;
    min-height: 100px;
}
