.home {
  padding: 1rem;

  .datepicker {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    .rangePicker {
      max-width: 500px;
      width: 100%;
    }
  }

  .widgets {

  }
}
