.container {
    display: grid;
    height: 100%;
    grid-template-rows: 50px 1fr;
}

.header {
    height: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
}

.header .title {
    font-size: var(--large-font-size);
    text-align: center;
    height: 100%;
    padding: 1rem 0;
}

.header .action {
    text-align: center;
    height: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.header .action:hover {
    color: var(--primary);
}
