APP_URL=https://localhost:3001
APP_MODE=development

DB_HOST=127.0.0.1
DB_LOGIN=root
DB_PASSWORD=root
DB_TABLE=db

MAIL_DRIVER=smtp
MAIL_HOST=smtp.yandex.ru
MAIL_PORT=465
MAIL_USERNAME=info@eon.uz
MAIL_PASSWORD=null
MAIL_ENCRYPTION=true
MAIL_FROM_ADDRESS=info@eon.uz
MAIL_FROM_NAME="EON Platform"

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

PAYME_LOGIN=Paycom
PAYME_KEY=key

ESKIZ_EMAIL=
ESKIZ_PASSWORD=
ESKIZ_FROM=